/*主体背景颜色*/
@white:#fff;
@dark:#2d353c;
@blueBg:#d9e0e7;

/*CSS Reset*/
body,
div,
h5{
  margin: 0;
  padding: 0;
}

/*公用样式*/
body{
  font-size: 12px;
  font-family: Helvetiva,Arial,sans-serif;
  color: #707478;
  text-align: center;
  background: @blueBg;
  cursor: auto;
}