.content {
    margin-left: 220px;
    padding: 20px 25px;
    padding-top: 54px;
}
.bread_menu{
    text-align: left;
    margin-bottom: 20px;
}
.fourUl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}
.col {
    width: 24%;
}
.col li {
    border-radius: 3px;
    padding: 0 10px;
    position: relative;
    height: 100px;
}
.col li .smallText {
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
}
.col li .bigText {
    font-size: 24px;
    color: #fff;
    position: absolute;
    top: 50px;
    left: 20px;
}
.col .icon{
    float: right;
    font-size: 42px;
    height: 56px;
    width: 56px;
    text-align: center;
    line-height: 56px;
    margin-right: 15px;
    margin-top: 20px;
    color: #fff;
}
#table {
    margin-top: 20px;
    height: 400px;
}
