.content1{
    margin-left: 220px;
    padding: 65px 25px 0px 25px;
}
.content2{
    margin-left: 220px;
    padding: 0px 25px 0px 25px;
    margin-bottom: 20px;
}
.colBox{
    border-radius: 3px;
    text-align: left;
    position: relative;
}
#createNews{
    position: absolute;
    top: 30px;
    right: 20px;
    width: 120px;
    height: 30px;
    border-radius: 6px;
    background-color: #3992EC;
    font-size: 14px;
    color: #FFF;
    z-index: 11;
}
#createNews:hover{
    background-color: #7bbbfc;
}
.subNav{
    padding: 20px 0px 0px 15px;
}
.subNav li{
    display: inline-block;
    width: 80px;
    text-align: center;
    background: #1D8888;
    border-radius: 4px;
    margin: 0 15px;
}
.subNav li a{
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
}
.subNav li:hover{
    background: #4DCACA;
}
.subnav li.active{
    background: #4DCACA;
}
.newsTable{
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 3px;
    font-size: 14px;
    border-collapse: collapse;
}
.newsTable thead{
    line-height: 30px;
    border-bottom: solid 1px #1D8888;
}
.newsTable thead{
    color: #242a30;
    border-bottom: 2px solid #e2e7eb;
}
.newsTable tbody{
    line-height: 50px;
}
.newsTable tbody tr td:nth-child(2){
    text-align: left;
}
.newsTable,.newsTable thead th,.newsTable tbody tr{
    border-bottom: 1px solid #e2e7eb;
}
.newsTable tbody tr:nth-of-type(2n-1){
    background: #f0f3f5;
}
.newsTable td button{
    width: 30px;
    height: 30px;
    margin: 5px;
    background: #3992EC;
    border-radius: 3px;
    color: #fff;
}
.newsTable td button:hover{
    background: #65b1f6;
}
#pages{
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}
#pages li a{
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 3px;
    color: #fff;
    background: #00acac;
    margin: 0 10px;
}