.content2{
    margin-left: 220px;
    padding: 0px 25px 0px 25px;
    margin-bottom: 20px;
}
.colBox{
    border-radius: 3px;
    text-align: left;
    position: relative;
}
#createNews{
    position: absolute;
    top: 30px;
    right: 20px;
    width: 120px;
    height: 30px;
    border-radius: 6px;
    background-color: #3992EC;
    font-size: 14px;
    color: #FFF;
    z-index: 11;
}
#createNews:hover{
    background-color: #7bbbfc;
}
.subNav{
    padding: 20px 0px 0px 15px;
}
.subNav li{
    display: inline-block;
    width: 80px;
    text-align: center;
    background: #1D8888;
    border-radius: 4px;
    margin: 0 15px;
}
.subNav li a{
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
}
.subNav li:hover{
    background: #4DCACA;
}
.subnav li.active{
    background: #4DCACA;
}