.submitBox{
    margin-top: 20px;
    background: #fff;
    border-radius: 3px;
    padding: 20px 0;
    text-align: center;
}
.submitBox div{
    line-height: 40px;
    margin: 20px 0;
    text-align: left;
}
.divider{
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.btns{
    display: block;
    width: 35%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.submitBox div label{
    display:inline-block;
    width:200px;
    text-align:right;
    margin-left: 80px;
    font-size: 16px;
}
.submitBox div input{
    width:500px;
    display:inline-block;
    margin-left: 50px;
    line-height: 40px;
    font-size: 20px;
    padding-left: 10px;
    border: 1px solid #e2e7eb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.submitBox select{
    display:inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    width: 160px;
    margin-left: 50px;
    font-size: 16px;
    border: solid 1px #e2e7eb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.submitBox textarea{
    width:500px;
    height: 140px;
    border: solid 1px #E1E1E1;
    display: inline-block;
    font-size: 16px;
    margin-left: 50px;
    color: #666;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.submitBox i{
    color: #F34546;
}
.blueBtnS,.blueBtnS2{
    width: 80px;
    height: 40px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: #3992EC;
    font-size: 14px;
    color: #FFF;
}
.greenBtn{
    width: 80px;
    height: 40px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: #00acac;
    font-size: 16px;
    color: #FFF;
}
.blueBtnS{
    margin-left: 50px;
}
.blueBtnS2{
    margin-left: 20px;
}
.imgPreview{
    display: inline;
    width: 150px;
    height: 84px;
    border: solid 1px #d3d3d3;
    margin-left: 50px;
}
.submitBox div:nth-of-type(4) label{
    vertical-align: top;
}
.submitBox div:nth-of-type(6) label{
    vertical-align: top;
}
.submitBox .main_content label{
    vertical-align: top;
}
.submitBox div i{
    margin:0 6px;
}